<main>
    <section class="py-5">
        {{#with newsBlock}}
            <h2 class="text-center mb-4">{{title}}</h2>
            {{> shoppost}}
        {{/with}}
    </section>
    <hr>    
    <section class="py-5">
        {{#with goodsBlock}}
            <ul class="nav nav-tabs mb-6">
                {{#each tabs}}
                    <li class="nav-item">
                        <a class="nav-link {{#if isActive}}fw-semibold active{{/if}} {{#if isDisabled}}disabled{{/if}}" href="#">{{text}}</a>
                    </li>
                {{/each}}
            </ul>
            {{> shopcard}}            
        {{/with}}
    </section>
    <hr>    
    {{> subscribe}}
    <hr>    
    {{> shopaction}}
    <hr>    
</main>